.card {
    /* background-size: cover; */
  background-clip: content-box;
  border: 6px solid white;
  /* height: 200px; */
  width: 600px;
  margin-left: 29%;
  margin-top: 2%;
  /* margin-bottom: 2%; */
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 2%;
  padding-left: 2%;


}
.wrapper {
  overflow-y:auto;
   height: 200px;
   margin: 2%;
}