/* .card {
    /* background-size: cover; */
  /* background-clip: content-box;
  border: 6px solid white;
  height: 200px;
  width: 600px;
  margin-left: 29%;
  margin-top: 2%; */
/* }  */
@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); 
 
}
.huh { 
  font-family: 'Rubik', sans-serif;
  overflow-y: scroll;
  height: 200px;
  width: 600px;
  margin-left:10%;
  border: solid;
  border-color: #FEDBD0;
  
}
h4 {
  font-family: 'Rubik', sans-serif;

}
body {
  font-family: 'Rubik', sans-serif;
}
hr {
  border-color: red;
}
h3 {
  font-family:'Rubik', sans-serif; ;
 font-style: italic;
}