@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); 
 
}
.huh { 
  font-family: 'Rubik', sans-serif;
  overflow-y: scroll;
  height: 200px;
  width: 600px;
  margin-left:10%;
  border: solid;
  border-color: #FEDBD0; 
}
body {
  font-family: 'Rubik', sans-serif;
}
hr {
  border-color: red;
}
h3 {
  font-family:'Rubik', sans-serif; ;
 font-style: italic;
}